body {
    height: 100%;
}

.dev-header li {
    margin-left: 5pt;
}


.form-style-9 {
    background: #FAFAFA;
    padding: 30px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border: 2px solid #d7e6ef;
}

.form-style-9 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-style-9  {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.form-style-9  .field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.form-style-9  .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}

.form-style-9  .field-split {
    width: 49%;
}

.form-style-9 .field-full {
    width: 100%;
}

.form-style-9  input.align-left {
    float: left;
}

.form-style-9  input.align-right {
    float: right;
}

.form-style-9  textarea {
    width: 100%;
    height: 100px;
}

.form-style-9  input[type="button"],
.form-style-9  input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.25rem;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 16px Arial, Helvetica, sans-serif;
}

.form-style-9  input[type="button"]:hover,

.form-style-9  input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.sticky-footer {
    margin-top: 10%;
    clear: top;
    position: relative;
    flex-shrink: unset;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.dev-nav-tabs.nav.flex-column a {
    color: black;
}

.dev-nav-tabs.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #343a40;
}

.dev-nav-tabs.nav-pills a:hover {
    color: #fff;
    background-color: #818181;
}

.form-style-9 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-9 label > span{
    width: 150px;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}